body {
	margin: 0 auto;
	background-color: lightslategray;
	max-width: 1000px;
	/* gap: 2em; */
}
header {
	height: 5vh;
	width: 100%;
}

menu {
	margin: 0 auto;
	display: flex;

	padding: 0 5%;
	text-align: center;
	font-size: 30px;
}

main {
	margin: 60px 0px 0px 0px;
}

footer {
	margin: 20px;
	height: 50px;
}

h1 {
	font-size: 50px;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
}

.button {
	margin: 0px;
	height: 65px;
	width: 200px;
	font-size: 25px;
}

.board {
	margin-left: 40px;
	border: solid 10px darkslategrey;
	width: fit-content;
	height: fit-content;

	display: flex;
	flex-direction: column;
}
.row {
	margin: 0;
	height: fit-content;
	width: fit-content;
	display: flex;
	justify-content: center;
	gap: 0;
	background-image: url('./assets/AdobeStock_278267569.jpeg');
	background-size: cover;
}

.square {
	flex-basis: 20%;
	flex-grow: 1;
	flex-shrink: 1;

	height: 60px;
	width: 60px;
	border: solid black 1px;

	display: flex;
	justify-content: center;
	align-content: center;
}

.shadow {
	opacity: 80%;
	background-color: palegoldenrod;
}

.card {
	margin: 0%;
	max-height: 100px;
	width: 175px;
	border: solid black 10px;
	background-color: linen;

	flex-grow: 1;
	flex-shrink: 1;
}

.blue-pawn {
	margin: 20%;
	flex-basis: 100%;
	background-image: url('./assets/blue-pawn-token.png');
	background-size: cover;
}

.pink-pawn {
	margin: 20%;
	flex-basis: 100%;
	/* background-color: lightpink; */
	background-image: url('./assets/pink-pawn-token.png');
	background-size: cover;
}

#pink-pawn-Sage {
	background-image: url('./assets/pink-sage-token.png');
	background-size: cover;
}

#blue-pawn-Sage {
	background-image: url('./assets/blue-sage-token.png');
	background-size: cover;
}

#opponent-menu {
	display: none;
	flex-direction: column;
	margin: 0;
}

#move-menu {
	flex-direction: row;
	margin: 20px 0 0 0;
}

#move-menu h3 {
	display: none;
}

#pink-temple {
	background-image: url('./assets/pink-temple.png');
	background-size: cover;
}

#blue-temple {
	background-image: url('./assets/blue-temple.png');
	background-size: cover;
}

div[data-type='shadow'] {
	background-color: paleturquoise;
}

#headline {
	justify-self: center;
	align-self: center;
}

#about-button {
	align-self: center;
}

#modal-textbox {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;

	max-height: 30%;
	max-width: 864px;
	padding: 5%;
	text-align: center;
	border: solid black 1px;
	background-color: seashell;
	border-radius: 2px;

	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: auto;
	z-index: 1;
}

#end-modal {
text-align: center;
border: solid black 1px;
background-color: seashell;
border-radius: 2px;

box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#close {
	background-color: silver;
}

@media (min-width: 800px) {
	body {
		height: 100vh;
		width: 100vw;
		background-color: lightslategray;
	}
	header {
		height: 100px;
	}

	main {
		display: flex;
		margin: 30px 0;
		bottom: 2vh;
		max-width: 800px;
	}

	.board {
		margin: 0 auto;
		position: center;
		border: solid 10px darkslategrey;
		width: fit-content;
		height: fit-content;
	}

	.square {
	height: 80px;
	width: 80px;
	}

	/* FROM MODALS INTRO */
#opponent-menu {
	display: flex;
	justify-content: space-between;
}

#move-menu {
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}
#move-menu h3 {
	display: block;
}


	#close {
		background-color: silver;
	}
}
